    @import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
     :root {
        --cor-primaria: #222222;
        --cor-secundaria: #FFF8EA;
        --cor-terciaria: #815B5B;
        --cor-hover: #9E7676;
        /*fontes*/
        --fonte-primaria: 'Montserrat', sans-serif;
        --fonte-secundaria: 'Krona One', sans-serif;
    }
    
    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        /* height: 100vh;*/
        /*informar o tamanho da tela - aqui informa que e 100%*/
        box-sizing: border-box;
        background-color: var(--cor-primaria);
        color: var(--cor-secundaria);
    }
    
    .cabecalho {
        padding: 2% 0% 2% 15%;
        background-color: var(--cor-terciaria);
    }
    
    .cabecalho__menu {
        display: flex;
        gap: 80px;
    }
    
    .cabecalho__menu__link {
        font-family: var(--fonte-primaria);
        font-size: 18px;
        font-weight: 600;
        color: var(--cor-primaria);
        text-decoration: none;
    }
    
    .cabecalho__menu__link:hover {
        color: var(--cor-hover);
        font-size: 22px;
    }
    
    .titulo-destaque {
        color: var(--cor-terciaria);
    }
    
    .apresentacao {
        padding: 5% 15%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .apresentacao__conteudo {
        width: 615px;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    
    .apresentacao__conteudo__titulo {
        font-size: 30px;
        font-family: var(--fonte-secundaria);
        ;
    }
    
    .apresentacao__conteudo__texto {
        font-size: 18px;
        font-family: var(--fonte-primaria);
        padding-right: 30px;
    }
    
    .apresentacao__links {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 32px;
        /*para dar espaçamento entre os objetos*/
    }
    
    .apresentacao__links__subtitulo {
        font-family: var(--fonte-secundaria);
        font-weight: 400px;
        font-size: 18px;
    }
    
    .apresentacao__links__link {
        display: flex;
        justify-content: center;
        gap: 16px;
        border: 2px solid var(--cor-terciaria);
        width: 328px;
        text-align: center;
        border-radius: 8px;
        font-size: 18px;
        font-weight: 600;
        padding: 18px 0;
        color: var(--cor-secundaria);
        font-family: var(--fonte-primaria);
        text-decoration: none;
    }
    
    .apresentacao__links__link:hover {
        background-color: var(--cor-hover);
        font-size: 20px;
    }
    
    .imagem__principal {
        width: 50%;
        height: 50%;
    }
    
    .rodape {
        color: var(--cor-primaria);
        background-color: var(--cor-terciaria);
        font-family: var(--fonte-primaria);
        font-weight: 400px;
        padding: 26px;
        text-align: center;
        font-size: 24px;
    }
    
    .apresentacao__conteudo__texto a {
        text-decoration: none;
        color: var(--cor-terciaria);
    }
    
    .slider {
        display: block;
        height: 450px;
        width: 800px;
        margin: auto;
        margin-top: 20px;
        position: relative;
    }
    
    .slider li {
        list-style: none;
        position: absolute;
    }
    
    .slider img {
        margin: auto;
        height: 100%;
        width: 80%;
        vertical-align: top;
    }
    
    .slider input {
        display: none;
    }
    
    .slider label {
        background-color: #000;
        bottom: 10px;
        cursor: pointer;
        display: block;
        height: 10px;
        position: absolute;
        width: 10px;
        z-index: 10;
    }
    
    .slider li:nth-child(1) label {
        left: 10px;
    }
    
    .slider li:nth-child(2) label {
        left: 40px;
    }
    
    .slider li:nth-child(3) label {
        left: 70px;
    }
    
    .slider img {
        opacity: 0;
        visibility: hidden;
    }
    
    .slider li input:checked~img {
        opacity: 1;
        visibility: visible;
        z-index: 10;
    }